@page "/"

    <EditForm Model="@Master" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        @foreach (var item in Master.DetailList)
        {
            <div>
                <InputText id="name" palceholder="Name" @bind-Value="item.MyProperty" />
                <ValidationMessage For="@(()=>item.MyProperty)" />
            </div>
        }

    </EditForm>
        

